.input-area input, .input-area textarea{
    background: transparent;
}
.input-area input{
    width: 90%;
    margin-top: 15px;
    padding: 8px 10px;
    color: #fff;
    border-radius: 10px;
    border-top: 8px solid #2B2E33;
    border-right: 8px solid #2B2E33;
    border-bottom: 1px solid #2B2E33;
    border-left: 1px solid #2B2E33;
}
.input input:focus {
    outline-width: 0;
}
input:first-child{
    margin-top: 0 !important;
}

.input-area textarea{
    width: 90%;
    height: 200px;
    border-radius: 20px;
    padding: 20px 25px;
    color: #fff;
    border-top: 8px solid #2B2E33;
    border-right: 8px solid #2B2E33;
    border-bottom: 1px solid #2B2E33;
    border-left: 1px solid #2B2E33;
}
textarea:focus {
    outline-width: 0;
}
